body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.file-list {
  font-family: Helvetica, arial, sans-serif;
  width: 900px;
  color: #333;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.file-list td {
  border-top: 1px solid #ccc;
}

.file-list div {
  box-sizing: border-box;
  float: left;
  padding: 2px 4px;
}

.file-list:first-child {
  border-top: none
}

td.file-name {
  padding-left: 10px;
  max-width: 180px;
  min-width: 150px;
}

.file-icon {
  min-width: 23px;
}

.file-icon .fa-folder {
  color: #508FCA;
}

td.commit-message {
  max-width: 442px;
  overflow: hidden;
  min-width: 300px;
}

td.age {
  min-width: 275px;
}

div.age {
  float: right;
  text-align: right;
}
